node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.original.png
web-build/
.env
google-services.json
GoogleService-Info.plist
/android/
/ios/
*.apk
*.keystore
server/
releases/
debug_manifest.json
.nvimlog
.DS_Store
expo-env.d.ts
.env.local

!GoogleService-Info.plist
